*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.detalle-producto{
    width: 50%;
    height: 50%;
    display: inline-flex;
}

.img-item-detail{
    width: 50%;
    height: auto;
    margin: 1rem;
    border: .5px solid #b6b6b6;
}
.columna-detalle{
    width: 50%;
    height: auto;
    margin: 1rem;
}

.detail{
    width: 100%;
    height: auto;
}
button{
    width: 100%;
    height: 5rem;
}